body {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px; 
}

/* force image to shrink to fit on screen */
img {
  max-width: 100%; 
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 800px; 
  } 
}

a {
  color: #3c53a6; 
}

a.black {
  color: black; 
}

a.black:hover {
  color: black; 
}

a:hover {
  color: #27356a;
  text-decoration: none; 
}

a.pub-title {
  color: black; 
}

a.pub-title:hover {
  color: black; 
}

div.header {
  margin-bottom: 20px; 
}

div.header h2 {
  font-size: 32px;
  font-weight: normal; 
  margin: 8px 0px 0px 0px;
}

h2, h3, h4 {
  font-weight: bold; 
}

h5 {
  font-size: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  vertical-align: center; 
  padding-bottom: 5px;
}

.header .nav.nav-pills .nav-link {
  padding: 6px; 
}

.header .nav.nav-pills .nav-link.active {
  background-color: #3c53a6;
  color: white;
}

.header .nav li.nav-item .fa {
  font-size: 20px; 
}

/* Custom page footer */
.footer {
  padding-top: 6px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  font-size: 13px; 
}

.footer p {
  margin: 1px 0px; 
}

.footer a:link, .footer a:visited {
  color: #777; 
}
