body {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 10px; 
}

/* force image to shrink to fit on screen */
img {
  max-width: 100%; 
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1000px; 
  } 
}

a {
  color: #3c53a6;
  text-decoration: none;
}

a.black {
  color: black;
  text-decoration: none;
}

a.black:hover {
  color: black;
}

a:hover {
  color: #27356a;
  text-decoration: none;
}

a.pub-title {
  color: black;
  text-decoration: none;
}

a.pub-title:hover {
  color: black;
}

div.header {
  margin-bottom: 20px;
}

div.header h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 8px 0px 0px 0px;
}

h2, h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

h5 {
  font-size: 15px;
}

strong {
  font-weight: 700;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  vertical-align: center; 
  padding-bottom: 5px;
}

.header .nav.nav-pills .nav-link {
  padding: 6px;
  font-size: 16px;
  color: #3c53a6;
}

.header .nav.nav-pills .nav-link:hover,
.header .nav.nav-pills .nav-link:focus {
  color: #2a4a8f;
}

.header .nav.nav-pills .nav-link.active {
  background-color: #3c53a6;
  color: white;
}

.header .nav li.nav-item .fa,
.header .nav .nav-link .fa,
.nav .nav-item .fa,
.nav .nav-link .fa,
.header .nav .fa,
.header .nav i,
.contact i,
.contact .fa {
  font-size: 22px !important;
  color: #3c53a6 !important;
  line-height: 1;
}

.header .nav li.nav-item i,
.header .nav .nav-link i,
.nav .nav-item i,
.nav .nav-link i,
.contact i,
.contact p a i,
.contact a i,
.contact .fa-solid,
.contact .fa-regular,
.contact .fa-brands {
  font-size: 22px !important;
}

.contact {
  margin-bottom: 16px;
}

/* Custom page footer */
.footer {
  padding-top: 6px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  font-size: 13px; 
}

.footer p {
  margin: 1px 0px; 
}

.footer a:link, .footer a:visited {
  color: #777; 
}

#moto {
  font-size: 16px;
}